#footer {
    background: #F0A83E;
    padding: 0 0 30px 0;
    color: rgb(53, 51, 51);
    font-size: 14px;
}

#footer .footerTop {
    padding: 60px 0 30px 0;
}

#footer .footerTop .footerInfo {
    margin-top: -90px;
    margin-bottom: 15px;
    background: white;
    color: rgb(53, 51, 51);
    border-top: 4px solid #eebb02ac;
    text-align: center;
    padding: 30px 20px;
}

#footer .footerTop .footerInfo .footerLogo {
    width: 50vh;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footerTop .footerInfo p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer .footerTop .socialLinks a {
    display: inline-block;
    background: #F0A83E;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    margin-top: 20px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footerTop .socialLinks a:hover {
    background: white;
    color: #F0A83E;
    text-decoration: none;
}

#footer .footerTop h4 {
    font-size: 16px;
    font-weight: 600;
    color: rgb(53, 51, 51);
    position: relative;
    padding-bottom: 12px;
}

#footer .footerTop .footerLinks {
    margin-bottom: 30px;
}

#footer .footerTop .footerLinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footerTop .footerLinks ul i {
    padding-right: 2px;
    color: rgb(53, 51, 51);
    font-size: 18px;
    line-height: 1;
}

#footer .footerTop .footerLinks ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footerTop .footerLinks ul li:first-child {
    padding-top: 0;
}

#footer .footerTop .footerLinks ul a {
    color: rgb(53, 51, 51);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footerTop .footerLinks ul a:hover {
    color: rgba(53, 51, 51, 0.612);
}

#footer .footerTop .footerNewsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4;
}

#footer .footerTop .footerNewsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}

#footer .footerTop .footerNewsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #F0A83E;
    border: 1px solid white;
    color: rgb(53, 51, 51);
    transition: 0.3s;
    border-radius: 4;
}

#footer .footerTop .footerNewsletter form input[type=submit]:hover {
    background: #F0A83E;
}

@media (max-width: 575px) {
    #footer .footerTop .footerInfo {
    margin: -20px 0 30px 0;
    }
}