* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navfondo {
    opacity: 80%;
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0%;
    background-color: rgb(245, 209, 186);
    z-index: 15;
}

#header {
    background-image: url(https://media.discordapp.net/attachments/993508372357853215/1006674005249490984/bowl-and-pet-daities-on-green-background_1_2.png?width=1440&height=575);
    background-position: 10%;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

#h1 {
    margin: 0 150px 80px 0;
    text-shadow: 0px 0px 4px rgba(255, 234, 0, 0.317);
}

main {
    min-height: 100vh;
    margin-top: 50px;
}

#cont_juguetes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 320px;
    margin: 20px 5px;
    padding: .8em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
    object-fit: contain !important;
    width: 100%;
    height: 20vh;
    border-radius: .5rem;
    transition: .3s ease;
    background-color: white;
}

.card-info {
    padding-top: 10%;
}

svg {
    width: 20px;
    height: 20px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/* Text */
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/* Button */
.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

/* Hover */
.card-img:hover {
    transform: translateY(-5%);
    transform: scale(110%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}

.navfondo {
    opacity: 80%;
    width: 100%;
    height: 8vh;
    position: fixed !important;
    top: 0%;
    background-color: rgb(245, 209, 186);
}


.bold {
    font-weight: bold;
}
.botoncarrito{
    display: flex;
    align-items: center;
    border-radius: 360px;
    margin: 10px;
    border: 1px solid black;
    transition: 0.5s;
    background-color: #2525253f;
}
.textocarrito{
    color: black;
    align-self: flex-start;
    width: 35px;
    height: 25px;
    padding: 3px;
    background-color: rgb(220, 20, 60);
    border-radius: 50%;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid black;

}
.colortextoboton{
    display: flex;
    text-decoration: none !important;   
}
.imagencarrito{
    width: 50px;
}
.botoncarrito:hover{
    background-color: rgba(237, 157, 100, 0.409);
}
.carritocompras{
    position: fixed;
    right: 5%;
}
.botoncarrito img{
    height: 1.5rem !important;
}