/* alex - footer */

/* footer {
    min-height: 70vh;
    background-color: #3C2313;
}

.newsletter {
    background-color: #F0A83E;
    display: flex;
    flex-direction: column;
}

.textNewsletter {
    text-align: center;
    margin: 10px 0;
}

.inputNewsletter {
    margin: 0 auto 10px;
}

.inputNewsletter>input {
    border-radius: 15px;
    text-align: center;
    border: none;
    padding: 5px 10px;
}

.inputNewsletter>button {
    border-radius: 15px;
    border: none;
    background-color: #3C2313;
    color: #fff;
    padding: 5px 10px;
}

.info {
    background-color: #fff;
    color: #3C2313;
    min-height: 50vh;
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 15px;
}

.logoFooter {
    display: block;
    width: 70%;
    margin: 15px auto;
    filter: drop-shadow(0px 9px 5px rgb(155, 154, 154));
}

.contactosInfo>a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.redesSociales {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 15px 0 0;
}

.redesSociales>div {
    background-color: #F0A83E;
    width: 40px;
    height: 40px;
}

.redesSociales>div>p {
    vertical-align: center;
}

.derechos {
    background-color: black;
}

.derechos>p {
    color: #fff;
}

.ultimoTexto {
    text-align: center;
    font-size: 13px;
} */



/* Joaquin - Carrito */
.container {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: #00000049 0px 1px 2px 0px;
}

.item-container {
    padding: 48px;
}

.item-name {
    display: flex;
}

.item-name p {
    margin: 0;
    font-weight: 500;
}

.item-image {
    margin-right: 20px;
}

.cart-tittle-container {
    width: 10%;
    padding-left: 8px;
}