* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body,
html {
    width: 100%;
    font-size: 10px;
    color: var(--text-color);
    font-weight: normal;
    font-family: sans-serif;
    background-color: var(--home-bg-color);
}

header {
    background-image: url(../asset/img/tiendamascota.jpg);
    background-size:cover;
    height: 30vh;
}

.h1 {
    margin-right: 200px;
    display: flex;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(255, 234, 0, 0.317);
}

.Mindy {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 4rem;
}

p {
    display: inline;
    font-size: 1.8rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-size: 1.6rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    font-weight: bold;
    padding: 7px;
    color: var(--icon-hover-bg);
}

.card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}

.navfondo {
    z-index: 100;
    opacity: 80%;
    width: 100%;
    height: 8vh;
    position: fixed !important;
    top: 0%;
    background-color: rgb(245, 209, 186);
}


.bold {
    font-weight: bold;
}

p {
    margin: 0;
}

#burger-toggle {
    position: absolute;
    appearance: none;
    opacity: 0;
}

#burger-toggle:checked~.menu {
    opacity: 1;
    visibility: visible;

}

#burger-toggle:checked~.menu .menu-nav-link span div,
#burger-toggle:checked~.menu img,
#burger-toggle:checked~.menu .title p {
    transform: translateY(0);
    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);

}

#burger-toggle:checked~.menu .image-link:nth-child(1) img {
    transition-delay: 0.18s;
}

#burger-toggle:checked~.menu .image-link:nth-child(2) img {
    transition-delay: 0.26s;
}

#burger-toggle:checked~.menu .image-link:nth-child(3) img {
    transition-delay: 0.34s;
}

#burger-toggle:checked~.menu .image-link:nth-child(4) img {
    transition-delay: 0.42s;
}

#burger-toggle:checked~.burger-menu .line::after {
    transform: translateX(0);
}

#burger-toggle:checked~.burger-menu .line:nth-child(1) {
    transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}

#burger-toggle:checked~.burger-menu .line:nth-child(2) {
    transform: scaleX(0);
}

#burger-toggle:checked~.burger-menu .line:nth-child(3) {
    transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}

.burger-menu {
    --burger-menu-radius: 4em;
    position: fixed;
    top: 1vh;
    left: 5vw;
    z-index: 100;
    display: block;
    width: var(--burger-menu-radius);
    height: var(--burger-menu-radius);
    outline: none;
    cursor: pointer;
}

.burger-menu .line {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 3px;
    background: rgba(43, 61, 79, 0.3);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.burger-menu .line:nth-child(1) {
    top: 30%;
}

.burger-menu .line:nth-child(2) {
    top: 50%;
}

.burger-menu .line:nth-child(3) {
    top: 70%;
}

.burger-menu .line::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform: translateX(-100%);
    transition: 0.25s;
}

.burger-menu .line:nth-child(2)::after {
    transition-delay: 0.1s;
}

.burger-menu .line:nth-child(3)::after {
    transition-delay: 0.2s;
}

.burger-menu:hover .line::after {
    transform: translateX(0);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1e23;
    opacity: 1;
    overflow-x: hidden;
    visibility: hidden;
    transition: 0.3s;

}

@media screen and (max-width: 750px) {
    .menu {
        display: block;
    }
}

.menu-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;

}

@media screen and (max-width: 750px) {
    .menu-nav {
        flex-direction: column;

    }
}

.menu-nav-item {
    flex: 1;
}

.menu-nav-link {
    position: relative;
    display: inline-flex;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif !important;
    color: white;
    text-decoration: none;

}

.menu-nav-link span {
    overflow: hidden;

}

.menu-nav-link span div {
    transform: translateY(102%);
}

.menu-nav-link::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--primary-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;

}

.menu-nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.menu .gallery {
    margin-top: 60px;
    text-align: center;
}

.menu .title {
    font-size: 24px;
    color: white;
    overflow: hidden;
}

.menu .title p {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translateY(102%);
}

.menu .images {
    margin-top: 36px;
    margin-left: 95px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 750px) {
    .menu .images {
        display: none;
    }
}

.menu .images .image-link {
    width: 15vw;
    margin: 0 12px;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 750px) {
    .menu .images .image-link {
        width: 40vw;
        margin: 0 12px 12px 0;
    }
}

.menu .images .image-link .image {

    transition: 0.6s;
}

.menu .images .image-link .image::before {
    position: absolute;
    content: attr(data-label);
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;

}

.menu .images .image-link:hover .image {
    transform: scale(1.2);
}

.menu .images .image-link:hover .image::before {
    opacity: 1;
}

.menu .images img {
    display: flex;
    justify-content: center;
    height: 15rem;
    transform: translateY(102%);
}

@media (max-width:1024px) {
    .cardcalecita {
        min-width: 100%;
        height: 80vh;
        border-radius: 4px;
        background: #a2d8af7d;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: .4em;
    }

    header {
        background-position: 10%;
        background-size: cover;
        height: 30vh;
    }
    .h1 {
        display: none;
    }
    
    .Mindy {
        display: none;
    }
    .textocelu{
        display: flex;
        background-color: antiquewhite;
    }
}



#cont_juguetes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 320px;
    margin: 20px 5px;
    padding: .8em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
    object-fit: contain !important;
    width: 100%;
    height: 20vh;
    border-radius: .5rem;
    transition: .3s ease;
    background-color: white;
}

.card-info {
    padding-top: 10%;
}

svg {
    width: 20px;
    height: 20px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/* Text */
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/* Button */
.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

/* Hover */
.card-img:hover {
    transform: translateY(-5%);
    transform: scale(110%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}

.navfondo {
    opacity: 80%;
    width: 100%;
    height: 8vh;
    position: fixed !important;
    top: 0%;
    background-color: rgb(245, 209, 186);
}


.bold {
    font-weight: bold;
}





.botoncarrito{
    display: flex;
    align-items: center;
    border-radius: 360px;
    margin: 10px;
    border: 1px solid black;
    transition: 0.5s;
    background-color: #2525253f;
}
.textocarrito{
    color: black;
    align-self: flex-start;
    width: 35px;
    height: 25px;
    padding: 3px;
    background-color: rgb(220, 20, 60);
    border-radius: 50%;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid black;

}
.colortextoboton{
    display: flex;
    text-decoration: none !important;   
}
.imagencarrito{
    width: 50px;
}
.botoncarrito:hover{
    background-color: rgba(237, 157, 100, 0.409);
}
.carritocompras{
    position: fixed;
    right: 5%;
}
.botoncarrito img{
    height: 1.5rem !important;
}





#footer {
    background: #F0A83E;
    padding: 0 0 30px 0;
    color: rgb(53, 51, 51);
    font-size: 14px;
}
#footer .footer-top {
    padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
    margin-top: -90px;
    margin-bottom: 15px;
    background: white;
    color: rgb(53, 51, 51);
    border-top: 4px solid #eebb02ac;
    text-align: center;
    padding: 30px 20px;
}
#footer .footer-top .footer-info{
    width: 50vh;
    margin: 0 0 20px 0;
}
#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
}
#footer .footer-top .social-links a {
    display: inline-block;
    background: #F0A83E;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    margin-top: 20px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
    background: white;
    color: #F0A83E;
    text-decoration: none;
}
#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: rgb(53, 51, 51);
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-top .footer-links {
    margin-left: 50px;
    margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: rgb(53, 51, 51);
    font-size: 18px;
    line-height: 1;
}
#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}
#footer .footer-top .footer-links ul a {
    color: rgb(53, 51, 51);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
    color: rgba(53, 51, 51, 0.612);
}
#footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4;
}
#footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}
#footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #F0A83E;
    border: 1px solid white;
    color: rgb(53, 51, 51);
    transition: 0.3s;
    border-radius: 4;
}
#footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #F0A83E;
}
#footer .copyright {
    text-align: center;
    padding-top: 30px;
}
#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}
@media (max-width: 575px) {
    #footer .footer-top .footer-info {
        margin: -20px 0 30px 0;
    }
}
.footer-logo{
    width: 40vh;
}