/*--------------------Boton---------------------------*/
/*-----------------------------------------------*/
.second {
    border-radius: 5em;
    border-color: #1abc9c;
    color: #fff;
    background-image: -webkit-linear-gradient(left, rgba(37, 26, 188, 0.6), rgba(26, 188, 156, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(26, 188, 156, 0.6) 10%, rgba(26, 188, 156, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(26, 188, 156, 0.6) 20%, rgba(26, 188, 156, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(26, 188, 156, 0.6) 30%, rgba(26, 188, 156, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(26, 188, 156, 0.6) 40%, rgba(26, 188, 156, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(26, 188, 156, 0.6) 50%, rgba(26, 188, 156, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(26, 188, 156, 0.6) 60%, rgba(26, 188, 156, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(26, 188, 156, 0.6) 70%, rgba(26, 188, 156, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(26, 188, 156, 0.6) 80%, rgba(26, 188, 156, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(26, 188, 156, 0.6) 90%, rgba(26, 188, 156, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
    background-image: linear-gradient(to right, rgba(26, 188, 156, 0.6), rgba(26, 188, 156, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(26, 188, 156, 0.6) 10%, rgba(26, 188, 156, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(26, 188, 156, 0.6) 20%, rgba(26, 188, 156, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(26, 188, 156, 0.6) 30%, rgba(26, 188, 156, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(26, 188, 156, 0.6) 40%, rgba(26, 188, 156, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(26, 188, 156, 0.6) 50%, rgba(26, 188, 156, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(26, 188, 156, 0.6) 60%, rgba(26, 188, 156, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(26, 188, 156, 0.6) 70%, rgba(26, 188, 156, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(26, 188, 156, 0.6) 80%, rgba(26, 188, 156, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(26, 188, 156, 0.6) 90%, rgba(26, 188, 156, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
    background-position: 0 0;
    background-size: 100%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .second:hover {
    background-position: 100px;
  }
  
  .third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }
  
#redireccion{
    text-decoration: none;
    font-family: 'Edu TAS Beginner', cursive;
    color: black;
    
}




/*--------------------header---------------------------*/

header {
  opacity: 80%;
  width: 100%;
  height: 12vh;
  top: 0%;
  background-color: rgb(245, 209, 186);
  z-index: 15;
}

@media(max-width: 768px){
  header img{
    max-width: 320px;
  }
}


/*----------------*/
.h1 {
  margin-right: 200px !important;
  display: flex;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(255, 234, 0, 0.317);
}

.Mindy {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 4rem;
}



@media(max-width: 425px){
  .h1{
    display: none;
  }
  
}


/*----------------*/
/*-------Tabla---------*/
/*----------------*/
th , td{
  text-align: center;
}
#footer {
  background: #F0A83E;
  padding: 0 0 30px 0;
  color: rgb(53, 51, 51);
  font-size: 14px;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-top: -90px;
  margin-bottom: 15px;
  background: white;
  color: rgb(53, 51, 51);
  border-top: 4px solid #eebb02ac;
  text-align: center;
  padding: 30px 20px;
}
#footer .footer-top .footer-info{
  width: 50vh;
  margin: 0 0 20px 0;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}
#footer .footer-top .social-links a {
  display: inline-block;
  background: #F0A83E;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  margin-top: 20px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: white;
  color: #F0A83E;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: rgb(53, 51, 51);
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-left: 50px;
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: rgb(53, 51, 51);
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: rgb(53, 51, 51);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  color: rgba(53, 51, 51, 0.612);
}
#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}
#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}
#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #F0A83E;
  border: 1px solid white;
  color: rgb(53, 51, 51);
  transition: 0.3s;
  border-radius: 4;
}
#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #F0A83E;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
@media (max-width: 575px) {
  #footer .footer-top .footer-info {
      margin: -20px 0 30px 0;
  }
}
main{
  height: 80vh;
}
.footer-logo{
  width: 40vh;
}

@media (max-width: 425px){
  .footer-info{
      max-width: 300px;
  }
  .footer-logo{
      max-width: 285px;
  }
  #footer .footer-top .footer-links {
      margin-left: 0px;
      margin-bottom: 30px;
  }
  #tablepr{
    
  }
}


@media(min-width: 990px) {
  #footer .footer-top .footer-links{
    margin-left: 15rem !important;
  }

  }


