*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
.navfondo{
    opacity: 80%;
    width: 100%;
    height: 8vh;
    position: fixed !important;
    top: 0%;
    background-color: rgb(245, 209, 186);
}
header{
    background-image:url(https://media.discordapp.net/attachments/993508372357853215/1006674005249490984/bowl-and-pet-daities-on-green-background_1_2.png?width=1440&height=575);
    background-position: 10%;
    background-size:cover;
    height: 100vh;
}

.h1{
    display: flex;
    text-align: center;
    background-color: rgba(245, 239, 186, 0.155);
    text-shadow: 0px 0px 4px  rgba(255, 234, 0, 0.317);
}
.Mindy{
  display: flex;
  font-size: 4rem;
}
/* CARDS */
.card {
    width: 190px;
    height: 270px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
  
   .navfondo{
       opacity: 80%;
       width: 100%;
       height: 8vh;
       position: fixed !important;
       top: 0%;
       background-color: rgb(245, 209, 186);
   }


   .bold{
    font-weight: bold;
}

footer{
    margin-top: 20vh;
    min-height: 70vh;
    background-color: #3C2313;
}

.newsletter{
    background-color: #F0A83E;
    display: flex;
    flex-direction: column;
}

.textNewsletter{
    text-align: center;
    margin: 10px 0;
}

.inputNewsletter{
    margin: 0 auto 10px;
}

.inputNewsletter>input{
    border-radius: 15px;
    text-align: center;
    border: none;
    padding: 5px 10px;
}

.inputNewsletter>button{
    border-radius: 15px;
    border: none;
    background-color: #3C2313;
    color: #fff;
    padding: 5px 10px;
}

.info{
    background-color: #fff;
    color: #3C2313;
    min-height: 50vh;
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 15px;
}

.logoFooter{
    display: block;
    width: 70%;
    margin: 15px auto;
    filter: drop-shadow(0px 9px 5px rgb(155, 154, 154));
}

.contactosInfo>a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.redesSociales{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 15px 0 0;
}

.redesSociales>div{
    background-color: #F0A83E;
    width: 40px;
    height: 40px;
}

.redesSociales>div>p{
    vertical-align: center;
}

.derechos{
    background-color: black;
}

.derechos>p{
    color: #fff;
}

.ultimoTexto{
    text-align: center;
    font-size: 13px;
}

:root {
    --home-bg-color: #f2f3ee;
    --menu-bg-color: #cbcbc2;
    --silde-btn-border: #808080;
    --slide-btn-bg: #ddf2db;
    --slide-btn-hoverbg: #f1fff1;
    --alpha-green: rgba(33, 96, 47, 0.51);
    --icon-hover-color: #344a39;
    --icon-hover-bg: #709680;
    --text-color: #616161;
    --border-color: #709680;
    --heading-color: #344a39;
    --box-shadow-color: #b5b5ac;
    --lightest-green: #86a58d;
    --light-green: #9ab09a;
    --dark-green: rgba(52, 74, 57, 0.86);
    --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
    --border-radius: 60px 5px;
    --fade-green: rgba(57, 87, 64, 0.55);
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  body,
  html {
    width: 100%;
    font-size: 10px;
    color: var(--text-color);
    font-weight: normal;
    font-family: sans-serif;
    background-color: var(--home-bg-color);
  }
  
  #ham-menu {
    display: none;
  }
  label[for="ham-menu"] {
    display: block;
    position: fixed;
    top: 24px;
    left: 20px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: var(--home-bg-color);
    border-radius: 15px;
    border: 2px solid var(--border-color);
  }
  .ham-menu {
    width: 50vw;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    transform: translate(-110%);
    z-index: 998;
    background-color: var(--lightest-green);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ham-menu > ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 20px;
    height: 50%;
  }
  .ham-menu > ul > li {
    font-size: 5rem;
    white-space: nowrap;
    letter-spacing: 0.15em;
    cursor: pointer;
    color: rgb(97, 97, 97);
  }
  #ham-menu:checked + label {
    background-color: transparent;
    border-color: var(--dark-green);
  }
  #ham-menu:checked ~ div.ham-menu {
    transform: translate(0px);
    visibility: visible;
  }
  .full-page-green {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-green);
    z-index: 997;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 500ms;
    position: fixed;
    top: 0;
    left: 0;
  }
  #ham-menu:checked ~ div.full-page-green {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  [for="ham-menu"] > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
  }
  .menu-line {
    display: block;
    width: 17px;
    height: 2px;
    margin: 10px 0 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--border-color);
    transition: 500ms;
    transform-origin: right center;
    
  }
  [for="ham-menu"] > div > span:nth-child(4),
  [for="ham-menu"] > div > span:nth-child(5),
  [for="ham-menu"] > div > span:nth-child(6) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transform-origin: left center;
  }
  #ham-menu:checked + label span {
    background-color: var(--dark-green);
  }
  #ham-menu:checked + label span:nth-child(2),
  #ham-menu:checked + label span:nth-child(5) {
    transform: scale(0);
  }
  #ham-menu:checked + label span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
  }
  #ham-menu:checked + label span:nth-child(4) {
    transform: translateY(17px) rotate(-45deg);
  }
  #ham-menu:checked + label span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
  }
  #ham-menu:checked + label span:nth-child(6) {
    transform: translateY(-17px) rotate(45deg);
  }
  p {
    display: inline;
    font-size: 1.8rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Light";
  }
  a {
    font-size: 1.6rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Light";
    display: inline;
    font-weight: bold;
    padding: 7px;
    color: var(--icon-hover-bg);
  }
  a::after {
    display: inline-block;
    font-family: fontello;
    padding: 5px;
    font-size: 1.6rem;
    transform: rotate(-90deg);
  }
  .text {
    font-size: 2.5rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Bold", sans-serif;
  }
  .title {
    font-size: 3rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Bold", sans-serif;
    color: var(--icon-hover-bg);
    padding: 10px;
  }
  .heading {
    font-size: 6rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "Patua One";
  }
  .centre-text {
    text-align: center;
  }
  .bold-text {
    font-weight: bold;
  }
  
  
  /* ----------------- BURGER --------------- */

  @import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
body {

  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Lora, sans-serif;
}

p {
  margin: 0;
}

#burger-toggle {
  position: absolute;
  appearance: none;
  opacity: 0;
}
#burger-toggle:checked ~ .menu {
  opacity: 1;
  visibility: visible;
  
}
#burger-toggle:checked ~ .menu .menu-nav-link span div,
#burger-toggle:checked ~ .menu img,
#burger-toggle:checked ~ .menu .title p {
  transform: translateY(0);
  transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
  
}
#burger-toggle:checked ~ .menu .image-link:nth-child(1) img {
  transition-delay: 0.18s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(2) img {
  transition-delay: 0.26s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(3) img {
  transition-delay: 0.34s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(4) img {
  transition-delay: 0.42s;
}
#burger-toggle:checked ~ .burger-menu .line::after {
  transform: translateX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
  transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
  transform: scaleX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
  transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}

.burger-menu {
  --burger-menu-radius: 4em;
  position: fixed;
  top: 1vh;
  left: 5vw;
  z-index: 100;
  display: block;
  width: var(--burger-menu-radius);
  height: var(--burger-menu-radius);
  outline: none;
  cursor: pointer;
}
.burger-menu .line {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 3px;
  background: rgba(43, 61, 79, 0.3);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.burger-menu .line:nth-child(1) {
  top: 30%;
}
.burger-menu .line:nth-child(2) {
  top: 50%;
}
.burger-menu .line:nth-child(3) {
  top: 70%;
}
.burger-menu .line::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transform: translateX(-100%);
  transition: 0.25s;
}
.burger-menu .line:nth-child(2)::after {
  transition-delay: 0.1s;
}
.burger-menu .line:nth-child(3)::after {
  transition-delay: 0.2s;
}
.burger-menu:hover .line::after {
  transform: translateX(0);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1e23;
  opacity: 1;
  overflow-x: hidden;
  visibility: hidden;
  transition: 0.3s;

}
@media screen and (max-width: 750px) {
  .menu {
    display: block;
  }
}
.menu-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  
}
@media screen and (max-width: 750px) {
  .menu-nav {
    flex-direction: column;
    
  }
}
.menu-nav-item {
  flex: 1;
  
}
.menu-nav-link {
  position: relative;
  display: inline-flex;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  
}
.menu-nav-link span {
  overflow: hidden;
  
}
.menu-nav-link span div {
  transform: translateY(102%);
}
.menu-nav-link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  
}
.menu-nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.menu .gallery {
  margin-top: 60px;
  text-align: center;
}
.menu .title {
  font-size: 24px;
  color: white;
  overflow: hidden;
}
.menu .title p {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: translateY(102%);
}
.menu .images {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 750px) {
  .menu .images {
    justify-content: center;
  }
}
.menu .images .image-link {
  width: 15vw;
  margin: 0 12px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 750px) {
  .menu .images .image-link {
    width: 40vw;
    margin: 0 12px 12px 0;
  }
}
.menu .images .image-link .image {

  transition: 0.6s;
}
.menu .images .image-link .image::before {
  position: absolute;
  content: attr(data-label);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.4s;
  
}
.menu .images .image-link:hover .image {
  transform: scale(1.2);
}
.menu .images .image-link:hover .image::before {
  opacity: 1;
}
.menu .images img {
  display: flex;
  justify-content: center;
    height: 22rem;
  transform: translateY(102%);
}
.perritosAnimados{
  opacity: 0.7;
  height: 10vh;
}